.overlay {
  width: 100vw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-container {
  background-image: url('/images/background/bg_first.png');
  background-position: center;
  background-size: cover;
  width: 90%;
  max-width: 1480px;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 80px;
  gap: 10px;
  border-radius: 30px;
  max-height: 90%;
  overflow-y: auto;
  scrollbar-width: none;

  @media (max-width: 1120px) {
    padding: 20px;
  }
}

.details-container {
  width: 100%;
  display: flex;
  height: auto;
  gap: 20px;

  @media (max-width: 980px) {
    flex-direction: column-reverse;
    align-items: start;
  }
}

.project-details {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 980px) {
    width: 100%;
  }

  .project-index {
    font-size: 96px;
    color: var(--green);
    margin: 0;
    font-weight: 700;
    font-family: var(--font-karla);
    line-height: 80px;

    @media (max-width: 980px) {
      font-size: 64px;
      line-height: 54px;
    }
  }

  .project-title {
    font-size: 64px;
    color: var(--white);
    margin: 0;
    font-weight: 700;
    font-family: var(--font-fira);

    @media (max-width: 980px) {
      font-size: 48px;
    }
  }

  .skills {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
  }
}

.project-image-container {
  width: 50%;
  height: auto;
  align-self: stretch;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 20px;

  @media (max-width: 980px) {
    width: 100%;
  }

  .project-image {
    margin-top: 40px;
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 300px;
    border-radius: 20px;

    @media (max-width: 980px) {
      max-height: 300px;
    }
  }

  .close-image {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all 250ms ease-in-out;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

.project-controls {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 20px;

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  .links-container {
    display: flex;
    gap: 20px;
  }

  .next-project-container {
    display: flex;
    justify-content: end;

    @media (max-width: 480px) {
        width: 100%;
    }
  }

  .next-project {
    cursor: pointer;
    font-size: 18px;
    color: var(--green);
    font-family: var(--font-karla);
    transition: all 250ms ease-in-out;
    margin: 0;

    @media (max-width: 480px) {
        text-align: end;
        font-size: 16px;
    }

    &:hover {
      filter: brightness(0.7);
    }
  }
}

.links {
  background-color: transparent;
  text-decoration: none;
  color: var(--white);
  border: none;
  border: 1px solid var(--white);
  border-radius: 100px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  font-family: var(--font-karla);
  transition: background-color 200ms ease-in-out;

  @media (max-width: 520px) {
    padding: 7px 12px;
    font-size: 16px;
  }

  &:hover {
    color: var(--green);
    border: 1px solid var(--green);
  }
}
